::-webkit-scrollbar {
display:none;
}


body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    height: auto;
    width:100vw;
    min-height: 100vh;
    overflow-y: auto;
    user-select: none;
}
header {
background-color: white;
 max-width: 100vw;
 width:100%;
 height: 30vw;
 max-height: 500px;
 background-image: url("Images/Title.png"), url("Images/HeaderBackgroundAbout.png");
 background-repeat: no-repeat, repeat;
 background-size:35%, auto;
 background-position: center;
 margin:0;
 background-color: rgb(0,167,0);
 border: 7px solid rgb(0, 88, 0);
 border-top:0px;
 border-right: 0px;
 border-left:0px;
 }

 .backgroundfor2 {
    background-image:url("Images/ScrollingBackgroundAbout.png");
    background-color: rgb(184, 248, 184);   
  width: 100vw;
  height: auto;
min-height:80vh;
padding-bottom: 50px;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto auto; 
  animation: scrollDiagonal 20s linear infinite;
  align-items: center;
  
     }
 .section1 { 
    display: flex;
    height:clamp(50px, 10vw,150px);
    width:100%;
    background:none;
    align-items: center;
    overflow:hidden;
    transform:translateY(-20px);
animation: fadeInTop 0.8s ease-out forwards;
opacity:0;
 }
 @keyframes scrollDiagonal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 512px 512px; 
  }
}
 .div1 {
    margin: 30px auto 30px auto;
    
 }
 
.HomeButton {
    background: url(Images/HomeButton.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 728 / 200 ;
    width: clamp(50px, 15vw,200px);
    height: clamp(25px, 15vw,100px);
    border:none;
   
}
.AboutButton {
    background: url(Images/AboutButton.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 3520 / 800;
   width: clamp(62px, 18vw,250px);
    height: clamp(25px, 18vw,100px);
    border:none;
   
}
.ToolsButton {
    background: url(Images/ToolsButton.png) no-repeat center center;
    background-size: contain;
    border:none;
    aspect-ratio: 3456 / 800;
   width: clamp(62px, 18vw,250px);
    height: clamp(25px, 18vw,100px);
   
}
.AssetsButton {
    background: url(Images/AssetsButton.png) no-repeat center center;
    background-size: contain;
    border:none;
    aspect-ratio: 4128 / 800;
   width: clamp(75px, 20vw,300px);
    height: clamp(25px, 18vw,100px);
   
}
.section2 {
 display: flex;
 flex-direction:row;
height: 700px;
padding-left: 50px;
padding-top: 50px;
position:relative;
transform:translateY(-20px);
animation: fadeInTop 0.8s ease-out forwards;
opacity:0;
}


.demonstration {
    aspect-ratio:2310/1284;
    width: 35vw;
    position: absolute;
    right: clamp(10px,4vw,200px);
    box-shadow: clamp(15px,2vw,50px) clamp(15px,2vw,50px) clamp(0px,4vw,0px) rgba(0,0,0,0.5) ;
}

.div2 {
    width: clamp(200px,40vw,1000px);
    height: auto;
    overflow:auto;
    font-size: clamp(14px,2vw,32px);
    color: white;
    font-family: NewFont;
    font-style: normal;
    left: clamp(5px,1vw,200px);
    position: absolute;
    background-color: rgb(0,167,0);
    box-shadow: clamp(15px,2vw,50px) clamp(15px,2vw,50px) clamp(0px,4vw,0px) rgba(0,0,0,0.5) ;
    padding: 2em;
    border:7px solid rgb(0, 88, 0);
}
@font-face {
    font-family: "NewFont";
    src: url(Fonts/PressStartDxRegular-vnZ44.ttf) format("truetype");
}
.paragraph {
font-size: clamp(12px,2vw,24px);
}
 @keyframes fadeInTop {
    to {
        opacity:1;
        transform: translateY(0);
    }
 }

.footer {
    background-color: black;
    height:auto;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:5px;
    z-index: 1;
}
.footerdiv {
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    font-size: clamp(14px,2vw,20px);
    width: clamp(600px,20vw,1200px);
    padding-left: clamp(10px, 5vw, 50px);
}
.discordfooter {
    aspect-ratio: 1/1;
    width: clamp(64px,10vw,96px);
    align-items: center;
    padding: clamp(30px, 5vw, 120px);
    
}



