::-webkit-scrollbar {
display:none;
}
html {
    scrollbar-width: none;
}
body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    height: auto;
    width:100vw;
    min-height: 100vh;
    overflow-y: auto;
    user-select: none;
}
header {
 background-color: white;
 max-width: 100vw;
 width:100%;
 height: 30vw;
 max-height: 500px;
 background-image: url("Images/Title.png"), url("Images/HeaderBackground.png");
 background-repeat: no-repeat, repeat;
 background-size:35%, auto;
 background-position: center;
 margin:0;
 background-color: rgb(249, 148, 0);
 border: 7px solid rgb(143, 46, 0);
 border-top:0px;
 border-right: 0px;
 border-left:0px;
 }
.backgroundfor2 {
  background-color: rgb(248,216,120);
  background-image: url("Images/HomeScrollingBackground.png");
  width: 100vw;
  height: auto;
min-height:80vh;
padding-bottom: 50px;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto auto; 
  animation: scrollDiagonal 20s linear infinite;
  align-items: center;
}

@keyframes scrollDiagonal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 512px 512px; 
  }
}


 .section1 { 
    display: flex;
    height:clamp(50px, 10vw,150px);
    width:100%;
    background:none;
    align-items: center;
    overflow:hidden;
    transform:translateY(-20px);
animation: fadeInTop 0.8s ease-out forwards;
opacity:0;
background-color: 7px solid rgb(143, 46, 0);
 }
 .div1 {
    margin: 30px auto 30px auto;
   
    
 }
 
.HomeButton {
    background: url(Images/HomeButton.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 728 / 200 ;
    width: clamp(50px, 15vw,200px);
    height: clamp(25px, 15vw,100px);
    border:none;
}
.AboutButton {
    background: url(Images/AboutButton.png) no-repeat center center;
    background-size: contain;
    aspect-ratio: 3520 / 800;
   width: clamp(62px, 18vw,250px);
    height: clamp(25px, 18vw,100px);
    border:none;
   
}
.ToolsButton {
    background: url(Images/ToolsButton.png) no-repeat center center;
    background-size: contain;
    border:none;
    aspect-ratio: 3456 / 800;
   width: clamp(62px, 18vw,250px);
    height: clamp(25px, 18vw,100px);
   
}
.AssetsButton {
    background: url(Images/AssetsButton.png) no-repeat center center;
    background-size: contain;
    border:none;
    aspect-ratio: 4128 / 800;
   width: clamp(75px, 20vw,300px);
    height: clamp(25px, 18vw,100px);
   
}
.section2 {
 display: flex;
text-align: center;
flex-direction:row;
width:100%;
height:auto;
opacity:0;
transform:translateY(-20px);
animation: fadeInTop 0.8s ease-out forwards;

    
}
@keyframes fadeInTop {
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.innersection {
    display: flex;
    align-items: center;
    width:50%;
}
.innersection2 {
    display:flex;
    flex-direction: column;
    width:50%;
    justify-content: flex-end;
    align-items: center;
}

.div2 {
    width: clamp(80px, 40vw,2000px);
    overflow:auto;
    font-size: clamp(12px, 2vw, 32px);
    color: white;
    font-family: NewFont;
    font-style: normal;
    background-color: rgb(249, 148, 0) ;
    box-shadow: clamp(20px,4vw,50px) clamp(20px,4vw,50px) clamp(0px,4vw,0px) rgba(0,0,0,0.5) ;
    padding: 2em;
    margin-top:clamp(20px, 4vw,70px);
    border: 7px solid rgb(143, 46, 0);
    margin-left:clamp(20px, 4vw, 50px);
}
.speakermessage {
 color: white;
 position: relative;
    font-family: NewFont;
    justify-content: center;
    font-size: clamp(10px, 3vw, 40px);
    width: clamp(60px, 30vw,1000px);
    margin-bottom: clamp(60px, 5vw, 90px);
    background-color:black;
    padding:1em;
    box-shadow:clamp(10px,2vw,40px) clamp(10px,2vw,40px) clamp(0px,4vw,0px) rgba(0,0,0,0.5) ;
    z-index:2;
}
@font-face {
    font-family: "NewFont";
    src: url(Fonts/PressStartDxRegular-vnZ44.ttf) format("truetype");
}
.speakerbox {
   position:relative;
   top:0;
   z-index: 3;
}
.speakerboxbutton {
 aspect-ratio: 1/1;
 width: clamp(64px, 10vw, 192px);
 box-shadow:clamp(10px,2vw,40px) clamp(10px,2vw,40px) clamp(0px,4vw,0px) rgba(0,0,0,0.5) ;
}

.footer {
    background-color: black;
    height:auto;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:5px;
    z-index: 1;
}
.footerdiv {
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    font-size: clamp(14px,2vw,20px);
    width: clamp(600px,20vw,1200px);
    padding-left: clamp(10px, 5vw, 50px);
}
.discordfooter {
    aspect-ratio: 1/1;
    width: clamp(64px,10vw,96px);
    align-items: center;
    padding: clamp(30px, 5vw, 120px);
    
}

